#index-container
  = gmaps(markers: {data: @events, options: {raw: '{animation: google.maps.Animation.DROP}'}}, map_options: {auto_adjust: true, detect_location: true, center_on_user: @empty, auto_zoom: true, zoom: 14})

  #overlay-alert-container
    #alert-container.index-alert-container
      = render partial: 'flash', locals: {flash: flash}
    #maps-overlay
      %a#close-maps-overlay.close{onclick: '$("#maps-overlay").hide(300)'} ×
      .tabbable#index-tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", href: "#search-tab"} Search
          %li
            %a{"data-toggle" => "tab", href: "#create-tab"} Create
        .tab-content
          .tab-pane.active#search-tab
            = render partial: 'search'
          .tab-pane#create-tab
            = render partial: 'create'

